<IfModule mod_rewrite.c>
    RewriteEngine on

    # Redirect www to non-www
    RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
    RewriteRule ^(.*)$ http://%1/$1 [R=301,L]

    # API
    RewriteRule ^api/([^-]*)-([^-]*)/$ /getflight.php?a=$1&f=$2 [L]

</IfModule>
