<IfModule mod_rewrite.c>
    RewriteEngine on

    # Redirect www to non-www
    RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
    RewriteRule ^(.*)$ http://%1/$1 [R=301,L]


    # Do not redirect physical files, directories, or links
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-l

    # API
    RewriteRule ^api/([^-]*)-([^-]*)/$ /getflight.php?a=$1&f=$2 [L]

</IfModule>
